@import '../shared/styles';

.active{
  a{
    font-weight: bold;
    color: get-color(navbar, active)!important;
  }
}
.open{
  background-color: get-color(navbar, active );
}

.collapse{
  transition: all 2s linear!important;

}
.show{
  display:block;
  transition: all 2s linear!important;
}
